[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mssearchr"]
	path = mssearchr
	url = https://github.com/andreysamokhin/mssearchr
